html,body {
    height:100%;
    
    margin:0;
    padding:0;
}

div{
    /* Borders and padding are inside the rectangles defined by width and height */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.battle{
    overflow:hidden;
    
    width: 100%;
    height: 100%;
    
    margin:0px;
    padding:0px;
}

#display{
    position:absolute;
    left:0px;
    
    width: 60%;
    height: 100%;

    /* Required for the full screen, otherwise the full screen background is black */
    background-color: white;
}

.gameTitle{
    position: absolute;
    top: 0%;
    /* Fixed width to center the text */
    width: 100%;
    height:100px;
   
    /* Center the text in the rectangle */ 
    text-align:center;
    line-height:100px;
    vertical-align: middle;
    font-size:30pt;
   
}

.animation{
    position: absolute; /* To enable absolute position of the SVG inside this div */
    top:100px;
    bottom:80px;
    overflow: auto; /* In case the SVG is too big */
    
    width: 100%;
    
    margin: auto;
    
    border: groove 5px;
}

#gameImage{
    /* Put the SVG on top left */
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 100%;
}

.player{
    position:absolute;
    bottom:0px;

    /* Center the SVG inside this div */
    display: flex;
    justify-content: center;
    
    width: 100%;
    height:80px;
    
    margin:auto;
    
    background-color: gray;
}


.playerImage{
    display: block;
}

.informations{
    position:absolute;
    right:0px;
    
    width:40%;
    height:100%;
    
    margin:0px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 10pt;
    color: white;
    background-color: black;
}

.names{
    height:50px;

    margin-bottom:5px;
    
    border-bottom: solid white 1px;
    font-size: 15pt;
}


.name span{
    display : inline-block;
    
    vertical-align: middle;
    line-height: normal;
}

.stdouts{
    height:30%;
    
    margin-bottom:5px;
    
    border-bottom: solid white 1px;
    word-break: break-word; /* In case of Multiline */
}

.stderrs{
    height:45%;

    margin-bottom:5px;
    
    border-bottom: solid white 1px;
    word-break: break-word; /* In case of Multiline */
}

.gameInformations{
    height:10%;
    
    color: red;
    word-break: break-word; /* In case of Multiline */
}

.name{
    display: inline-block;
    
    height:50px;
    width:25%;
    
    padding-left:3px;
    
    text-align:center;
    border-left: solid white 1px;
    border-right: solid white 1px;
    line-height: 50px;
}

.stdout, .stderr, .gameInformation{
    position:relative; /* Enable absolute position of the span inside this div */

    overflow: auto;
    display: inline-block;
    
    height:80%;
    width:25%;
    
    padding-left:3px;
    padding-right:3px;
    
    border-left: solid white 1px;
    border-right: solid white 1px;
}

.stdoutText, .stderrText, .gameInformationText {
    /* Without this option, when the span of a sibling div contains more
     * than one line, this span goes out of its parent div.*/
    position:absolute; 
    top:0;
    
    font-size: 8pt;
}
